h1{color:rgb(17, 242, 225);}
h2{color:rgb(20, 184, 173);}
h3{color:rgb(20, 184, 173);}
th{color:rgb(20, 184, 173);}
body {text-align: center;}
#lista_centrada{text-align:center;
list-style-position:inside;}
#tabla{text-align:center;}